<h1>test notification</h1>

<%= link_to 'New Idea', slack_integrations_new_idea_path, class: 'btn btn-primary' %>
<%= current_user.slack_integration.new_idea %>
<br/>
<%= link_to 'New Comment', slack_integrations_new_comment_path, class: 'btn btn-primary' %>
<%= current_user.slack_integration.new_comment %>
<br/>
<%= link_to 'New Vote', slack_integrations_new_vote_path, class: 'btn btn-primary' %>
<%= current_user.slack_integration.new_vote %>
<br/>
<%= link_to 'New Community Member', slack_integrations_new_community_member_path, class: 'btn btn-primary' %>
<%= current_user.slack_integration.new_community_member %>
